.container {
  width: 700px;
  margin: 50px auto;
}
body{
  background-color: #F1F1F1;
  font-family: 'Faustina', serif;
  margin: 0px;
}
p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: lighter;
}
.banner {
  background-image: url(https://images.unsplash.com/photo-1664911979280-59917fb8b290?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2Njc1NjgxMQ&ixlib=rb-1.2.1&q=80&w=1000);
  height: 300px;
  background-size: cover;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner {
  height: auto;
  position: relative;
}


#fancy-txt {
  background-image: linear-gradient(to bottom, rgb(188, 122, 47), rgb(162, 144, 76));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

#fancy-txt:hover {
  background-image: linear-gradient(to bottom, rgb(255, 140, 0), rgb(233, 186, 33));
}

.second-title {
  color: #674e4ef3;
  font-weight: normal;
  padding-bottom: 10px;
}

#banner-title {
  font-weight: 800;
  font-size: 50px;
  color: white;
}

#banner-txt {
  font-weight: 200;
  font-size: 22px;
  color: white;
}

/* RESPONSIVE */
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}
